NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_key_here
STRIPE_SECRET_KEY=sk_test_key_here
AZUREOPENAI_API_KEY=api_key_here
AZUREOPENAI_API_BASE=api_base_here
AZUREOPENAI_API_BASE_RESPONSES=api_base_here
AZUREOPENAI_API_VERSION=2025-01-01-preview
AZUREOPENAI_API_DEPLOYMENT=-name-here-please-change